/* @import url("https://fonts.googleapis.com/css?family=Montserrat"); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html,
body {
  width: 100%;
  height: 100%;
  background: #6cb6cf;
}

#pinContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#slideContainer {
  /* width: 300%; */
  /* to contain 4 panels, each with 100% of window width */
  height: 100vh;
  
  background-size: contain;
  background-repeat: no-repeat;
  /* background-position: center center; */
  /* background-attachment: fixed; */
  /* background: url(BPS-Datastory.gif) center center cover no-repeat fixed; */
  /* background-size: cover; */
  position: absolute;
  /* display: flex;
  justify-content: space-evenly;
  align-items: center; */
  pointer-events: none;
}

.panel {
  height: 100%;
  width: 25%;
  /* relative to parent -> 25% of 400% = 100% of window width */
  float: left;
  position: relative;
  /* overflow: hidden; */
  /* overflow-x: scroll; 
  overflow-y: hidden; */
}

.blue {
  background-color: #3883d8;
}

.turqoise {
  position: relative;
  background-color: #38ced7;
}

.brown {
  background-color: #a66f28;
}

.bordeaux {
  background-color: #953543;
}

.pink {
  background-color: pink;
  height: 100vh;
  width: 100vw;
}

#sectionOne {
  margin-left: 1%;
}

#parallaxOne {
  position: relative;
  top: 0;
  left: 0%;
  height: 100%;
  width: 100%;
  /* margin-left: 0%; */
  /* margin-right: 10%; */

}

#parallaxOne #myimg {
  position: absolute;
  left: 50%;
  /* margin: 10%; */

}

#parallaxOne img {
  width: 100%;
  height: 100%;
}

#parallaxTwo {
  position: absolute;
  top: 0;
  left: 0%;
  height: 100%;
  width: 100%;
  opacity: 0;
}
#parallaxTwo h1,
#parallaxTwo img {
  position: absolute;
  left: 0;
}

#parallaxThree {
  position: absolute;
  top: 0;
  left: -50%;
  height: 100%;
  width: 100%;
}
#parallaxThree h1,
#parallaxThree img {
  position: absolute;
  left: 0;
}

.custom-tooltip {
  position: absolute;
  z-index: 10;
  top: 50%;
}
.custom-tooltip:first-of-type {
  left: -5%;
}
.custom-tooltip:last-of-type {
  left: 5%;
}

.tippy-content a {
  color: white;
  font-weight: bold;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}


section {
  width: 10vw;
  margin : 1%;
}


/* section > div {
  min-height : 100px;
  background-color : #c14543;
  margin : 2px !important;
} */

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 4em;
  text-align: center ;
  color: black;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 3em;
  color: black;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: black;

}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  color: black;

}

.container {
  margin: 0.5%;
  padding: 0.5%;
  /* display: flex;
  justify-content: space-evenly; */
  align-items: center;
  width: 70vw;
}

section {
  height: 90vh;
  width: 190vw;
}

.white-transparent {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5% 5% 5% 5%;
}

.white-transparent-long {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 2% 2% 2% 2%;
}

.center {
  text-align: center;
  align-items: center;
  

}

.vertical-center {
  display: flex;
  justify-content: center;
}



.float-left {
  float: left;
  flex-basis:50%
}

.float-right {
  float: right;
}

.flex-row {
  display: flex;
}

.horizontal {
  flex-direction:row;
}