/* @import url("https://fonts.googleapis.com/css?family=Montserrat"); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


#bottom-dashboard {
  position: fixed !important;
  bottom: 0px; 
  left: 0px;
  overflow: hidden;

  
}

#bottom-dashboard-img {
    position: relative;
    width: 100vw;
    
    
    /* height: 100vh; */
    

  }

#bottom-dashboard-text {
    position: absolute;
    width: 100vw;
    font-family: 'Montserrat';
    display: inline-block;
    text-align: center;
    font-weight: 900;
    font-size: 1.7em;
    color: white;
    /* bottom: 80%; */
    top: 0.2rem;
    left: 1rem;
  }

@media screen and (min-width: 1600px) {
  #bottom-dashboard-text {
    position: absolute;
    width: 100vw;
    font-family: 'Montserrat';
    display: inline-block;
    text-align: center;
    font-weight: 900;
    font-size: 3em;
    color: white;
    /* bottom: 80%; */
    top: 0.2rem;
    left: 2.5rem;
  }
}

#back-button {
    height: 4%;
    width: 4%;
    position: absolute;
    bottom: 80%;
    left: 38%;
    display: inline-block;
    margin: 0 auto;
}

#next-button {
    height: 6%;
    width: 6%;
    position: absolute;
    bottom: 85%;
    left: 56.5%;
    display: inline-block;
    margin: 0 auto;
}

/* .btn-floating:hover {
  width: auto;
  padding: 0 10px;
  cursor: pointer;
} */

#back-button:hover {
  width: 5%;
  height: 5%;
  cursor: pointer;
  display: inline-block;
}

#next-button:hover {
  width: 7%;
  height: 7%;
  cursor: pointer;
  display: inline-block;
}

#back-button:active {
  width: 4%;
  height: 4%;
  cursor: pointer;
  display: inline-block;
}

#next-button:active {
  width: 6%;
  height: 6%;
  cursor: pointer;
  display: inline-block;
}

