@import url("https://fonts.googleapis.com/css?family=Orbitron");

#bottom-dashboard {
    position: relative;
    width: 100vw;
    /* height: 100vh; */

  }

#bottom-dashboard-text {
    position: absolute;
    width: 100vw;
    font-family: 'Orbitron';
    display: inline-block;
    text-align: center;
    color: white;
    bottom: 0px;
    top: 2rem;
    left: 0px;
  }

#back-button {
    height: 10%;
    width: 10%;
    position: absolute;
    top: 1%;
    left: 18%;
}

#next-button {
    height: 10%;
    width: 10%;
    position: absolute;
    top: 1%;
    left: 73%;
}