/* @import url("https://fonts.googleapis.com/css?family=Montserrat"); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html,
body {
  width: 100%;
  height: 100%;
  background: #6cb6cf;
}

#pinContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#slideContainer {
  /* width: 500%; */
  /* to contain 4 panels, each with 100% of window width */
  height: 100vh;
  
  background-size: contain;
  background-repeat: no-repeat;
  /* background-position: center center; */
  /* background-attachment: fixed; */
  /* background: url(BPS-Datastory.gif) center center cover no-repeat fixed; */
  /* background-size: cover; */
  position: absolute
}

.panel {
  height: 100%;
  width: 25%;
  /* relative to parent -> 25% of 400% = 100% of window width */
  float: left;
  position: relative;
  overflow: hidden;
}

.blue {
  background-color: #3883d8;
}

.turqoise {
  position: relative;
  background-color: #38ced7;
}

.brown {
  background-color: #a66f28;
}

.bordeaux {
  background-color: #953543;
}

.pink {
  background-color: pink;
  height: 100vh;
  width: 100vw;
}

#parallaxOne #myimg {
  position: absolute;
  left: 50%;
  margin: 10%;
  width: 100vw;
}

#parallaxTwo {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 100%;
}
#parallaxTwo h1,
#parallaxTwo img {
  position: absolute;
  left: 0;
}

#parallaxThree {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 100%;
}
#parallaxThree h1,
#parallaxThree img {
  position: absolute;
  left: 0;
}

.custom-tooltip {
  position: absolute;
  z-index: 10;
  top: 50%;
}
.custom-tooltip:first-of-type {
  left: -5%;
}
.custom-tooltip:last-of-type {
  left: 5%;
}

.tippy-content a {
  color: white;
  font-weight: bold;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.header { grid-area: header; }
.menu { grid-area: menu; }
.main { grid-area: main; }
.right { grid-area: right; }
.footer { grid-area: footer; }

section {
  margin : 1% !important;
  padding: 2px !important;
  padding-left : 1px !important;
  padding-right: 1px !important;
  width: 100vw;
}
/* section > div {
  min-height : 100px;
  background-color : #c14543;
  margin : 2px !important;
} */


