@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
    margin: 0;
    padding: 0;
 }
#wrapper {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  position: relative;
}
h1 {
  line-height: 90vh;
}
.animated {
  transition: all 300ms ease-in-out; 
}

.parallax {
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}
.parallax img {
    position: absolute;
    width: 100vw;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    pointer-events: none;
}

#text1 {
    position: absolute;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#text11 {
    font-weight: 1000;
    font-size: 5em;
}

#text12 {
    font-weight: 100;
    font-size: 2em;
}

#fusion {
    z-index= -10;
    position= fixed;
}

/* Fade in, out Styles */
.fade-in, .fade-out.inactive { /* End State */
  opacity: 1;
}
.fade-in.inactive, .fade-out { /* Default State */
  opacity: 0;
}

/* Slide In Styles */
.slide-in-left {
  transform: translateX(0);
}
.slide-in-left.inactive {
  transform: translateX(-30%);
}
.slide-in-right {
  transform: translateX(0);
}
.slide-in-right.inactive {
  transform: translateX(130%);
}

/* Rotate Styles */
.rotate-ccw-90 {
  transform: rotateZ(0);
}
.rotate-ccw-90.inactive {
  transform: rotateZ(-90deg);
}