
#animation_container {
  width: 400%;
  /* to contain 4 panels, each with 100% of window width */
  height: 100vh;
  /* background-image: url("BPS-Datastory.gif"); */
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center center; */
  background-attachment: fixed;
  /* background: url(BPS-Datastory.gif) center center cover no-repeat fixed; */
  /* background-size: cover; */
  position: absolute
}

